Sailors Excersice

Create the database

In [1]:
import sqlite3 
import pandas as pd

In [31]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()
cursor.execute('''DROP TABLE SAILORS''')
cursor.execute('''DROP TABLE BOATS''')
cursor.execute('''DROP TABLE RESERVES''')
cursor.execute('''DROP TABLE CAPTAINS''')
conn.commit()
conn.close

In [2]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()


cursor.execute('''
create table SAILORS(
    Sname       varchar(15),
    SID         varchar(5) PRIMARY KEY,
    Rating      int(4),
    Age         int(4)
)
''')

cursor.execute('''
create table CAPTAINS(
    Sname       varchar(15),
    SID         varchar(5) PRIMARY KEY,
    Rating      int(4),
    Age         int(4)
)
''')


cursor.execute('''
create table BOATS(
    Bname       varchar(15),
    BID         varchar(5) PRIMARY KEY,
    Fee         int(4),
    Location    varchar(15)
)
''')

cursor.execute('''
create table RESERVES(
    SID         varchar(5),
    BID         varchar(5),
    Day         varchar(20),
    Deposit     float(7),
    FOREIGN KEY (SID) REFERENCES SAILORS(SID),
    FOREIGN KEY (BID) REFERENCES BOATS(BID)
)
''')

sailors_data = [
    ('Marx', 23, 8, 52),
    ('Martin', 25, 9, 51),
    ('Adams', 27, 8, 36),
    ('Carrey', 33, 10, 22)
]

cursor.executemany('''
INSERT INTO Sailors (Sname, SID, Rating, Age) VALUES (?, ?, ?, ?)
''', sailors_data)

boats_data = [
    ('Wayfarer', 109, 120, 'Hout Bay'),
    ('SeaPride', 108, 500, 'Fish Hoek'),
    ('Yuppie', 101, 400, 'Hout Bay'),
    ('Joy', 104, 200, 'Hout Bay')
]

cursor.executemany('''
INSERT INTO Boats (Bname, BID, Fee, Location) VALUES (?, ?, ?, ?)
''', boats_data)

reserves_data = [
    (23, 109, '01/08/2014', 120),
    (23, 108, '08/08/2014', 0),
    (25, 101, '08/08/2014', 0),
    (27, 101, '09/08/2014', 100),
    (27, 109, '04/09/2014', 0),
    (33, 109, '04/09/2014', 0),
    (33, 104, '11/09/2014', 0)
]

cursor.executemany('''
INSERT INTO Reserves (SID, BID, Day, Deposit) VALUES (?, ?, ?, ?)
''', reserves_data)

conn.commit()
conn.close

1. Get everything in the Sailors table

In [3]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT *
FROM SAILORS
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

    Sname SID  Rating  Age
0    Marx  23       8   52
1  Martin  25       9   51
2   Adams  27       8   36
3  Carrey  33      10   22

Get sailor ID, rank & age of all sailors, ordered from highest to lowest rank. Rank is 10 rimes rating

In [4]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT SID, 10*Rating AS Rank, Age
FROM SAILORS
ORDER BY Rank
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

  SID  Rank  Age
0  23    80   52
1  27    80   36
2  25    90   51
3  33   100   22

3. Get alphabetical list of sailors with rating less than 10

In [5]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT Sname, Rating
FROM SAILORS 
WHERE Rating < 10 
ORDER BY Sname 
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

    Sname  Rating
0   Adams       8
1  Martin       9
2    Marx       8

4. Find how much deposit money there is in total and how many tuples are in the reserves table

In [6]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT COUNT(Deposit) AS TotalTuples, SUM(Deposit) AS TotalMoney 
FROM RESERVES 
 '''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

   TotalTuples  TotalMoney
0            7       220.0

5. Get all info on boats in Fishoek but I'm not sure how you spell Fishoek.

In [7]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT *
FROM BOATS 
WHERE LOCATION LIKE "_IS%K"
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

      Bname  BID  Fee   Location
0  SeaPride  108  500  Fish Hoek

6. In what Locations are boats kept?

In [10]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT DISTINCT(Location) 
FROM BOATS 
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

    Location
0   Hout Bay
1  Fish Hoek

7. Get the names of all Boats tht have a fee value recorded in the database

In [13]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT DISTINCT(Bname)
FROM BOATS 
WHERE Reserves.BID = Reserves.BID   
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

DatabaseError: Execution failed on sql '
SELECT DISTINCT(Bname)
FROM BOATS
WHERE Reserves.BID = Reserves.BID
': no such column: Reserves.BID

In [ ]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''

'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

In [ ]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''

'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))