This is the exam, first create the database in python

In [1]:
import sqlite3

In [2]:
import sqlite3

# Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('/mnt/data/BookStoreDB.db')
cursor = conn.cursor()

# Create the Book table
cursor.execute('''
CREATE TABLE Book (
    BookID INTEGER PRIMARY KEY,
    Title TEXT,
    Author TEXT,
    Publisher TEXT,
    Year INTEGER,
    Price REAL
)
''')

# Create the Sold table
cursor.execute('''
CREATE TABLE Sold (
    Name TEXT,
    BookID INTEGER,
    Quantity INTEGER,
    PRIMARY KEY (Name, BookID),
    FOREIGN KEY (BookID) REFERENCES Book(BookID)
)
''')

# Create the Bookstore table
cursor.execute('''
CREATE TABLE Bookstore (
    Name TEXT PRIMARY KEY,
    Address TEXT,
    City TEXT
)
''')

# Insert data into the Book table
books = [
    (1, 'The Great Gatsby', 'F. Scott Fitzgerald', 'Scribner', 2001, 10.99),
    (2, 'To Kill a Mockingbird', 'Harper Lee', 'Harper & Brothers', 2009, 12.50),
    (3, 'The Baby Boomers', 'George Orwell', 'Secker & Warburg', 2020, 8.75),
    (4, 'Pride and Prejudice', 'Jane Austen', 'T. Egerton', 2010, 9.99),
    (5, 'Harry Potter and the Sorcerer\'s Stone', 'J.K. Rowling', 'Bloomsbury', 1997, 14.95)
]
cursor.executemany('INSERT INTO Book VALUES (?, ?, ?, ?, ?, ?)', books)

# Insert data into the Sold table
sold = [
    ('Book Haven', 1, 500),
    ('Reading Nook', 2, 300),
    ('Novel Corner', 3, 250),
    ('Book Haven', 4, 870),
    ('Reading Nook', 1, 200),
    ('Novel Corner', 5, 630)
]
cursor.executemany('INSERT INTO Sold VALUES (?, ?, ?)', sold)

# Insert data into the Bookstore table
bookstores = [
    ('Book Haven', '123 Main St', 'New York'),
    ('Reading Nook', '456 Oak Ave', 'Los Angeles'),
    ('Novel Corner', '789 Elm St', 'Chicago')
]
cursor.executemany('INSERT INTO Bookstore VALUES (?, ?, ?)', bookstores)

# Commit the changes and close the connection
conn.commit()
conn.close()

SyntaxError: incomplete input (1992808379.py, line 72)