Sailors Excersice

Create the database

In [1]:
import sqlite3 
import pandas as pd

In [33]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()
cursor.execute('''DROP TABLE SAILORS''')
cursor.execute('''DROP TABLE BOATS''')
cursor.execute('''DROP TABLE RESERVES''')
cursor.execute('''DROP TABLE CAPTAINS''')
conn.commit()
conn.close

In [34]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()


cursor.execute('''
create table SAILORS(
    Sname       varchar(15),
    SID         varchar(5) PRIMARY KEY,
    Rating      int(4),
    Age         int(4)
)
''')

cursor.execute('''
create table CAPTAINS(
    Sname       varchar(15),
    SID         varchar(5) PRIMARY KEY,
    Rating      int(4),
    Age         int(4)
)
''')


cursor.execute('''
create table BOATS(
    Bname       varchar(15),
    BID         varchar(5) PRIMARY KEY,
    Fee         int(4),
    Location    varchar(15)
)
''')

cursor.execute('''
create table RESERVES(
    SID         varchar(5),
    BID         varchar(5),
    Day         varchar(20),
    Deposit     float(7),
    FOREIGN KEY (SID) REFERENCES SAILORS(SID),
    FOREIGN KEY (BID) REFERENCES BOATS(BID)
)
''')

sailors_data = [
    ('Marx', 23, 8, 52),
    ('Martin', 25, 9, 51),
    ('Adams', 27, 8, 36),
    ('Carrey', 33, 10, 22)
]

cursor.executemany('''
INSERT INTO Sailors (Sname, SID, Rating, Age) VALUES (?, ?, ?, ?)
''', sailors_data)

boats_data = [
    ('Wayfarer', 109, 120, 'Hout Bay'),
    ('SeaPride', 108, 500, 'Fish Hoek'),
    ('Yuppie', 101, 400, 'Hout Bay'),
    ('Joy', 104, 200, 'Hout Bay')
]

cursor.executemany('''
INSERT INTO Boats (Bname, BID, Fee, Location) VALUES (?, ?, ?, ?)
''', boats_data)

reserves_data = [
    (23, 109, '01/08/2014', 120),
    (23, 108, '08/08/2014', 120),
    (25, 101, '08/08/2014', 0),
    (27, 101, '09/08/2014', 100),
    (27, 109, '04/09/2014', 120),
    (33, 109, '04/09/2014', 0),
    (33, 104, '11/09/2014', 0)
]

cursor.executemany('''
INSERT INTO Reserves (SID, BID, Day, Deposit) VALUES (?, ?, ?, ?)
''', reserves_data)

conn.commit()
conn.close

1. Get everything in the Sailors table

In [3]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT *
FROM SAILORS
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

    Sname SID  Rating  Age
0    Marx  23       8   52
1  Martin  25       9   51
2   Adams  27       8   36
3  Carrey  33      10   22

Get sailor ID, rank & age of all sailors, ordered from highest to lowest rank. Rank is 10 rimes rating

In [4]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT SID, 10*Rating AS Rank, Age
FROM SAILORS
ORDER BY Rank
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

  SID  Rank  Age
0  23    80   52
1  27    80   36
2  25    90   51
3  33   100   22

3. Get alphabetical list of sailors with rating less than 10

In [5]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT Sname, Rating
FROM SAILORS 
WHERE Rating < 10 
ORDER BY Sname 
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

    Sname  Rating
0   Adams       8
1  Martin       9
2    Marx       8

4. Find how much deposit money there is in total and how many tuples are in the reserves table

In [6]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT COUNT(Deposit) AS TotalTuples, SUM(Deposit) AS TotalMoney 
FROM RESERVES 
 '''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

   TotalTuples  TotalMoney
0            7       220.0

5. Get all info on boats in Fishoek but I'm not sure how you spell Fishoek.

In [7]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT *
FROM BOATS 
WHERE LOCATION LIKE "_IS%K"
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

      Bname  BID  Fee   Location
0  SeaPride  108  500  Fish Hoek

6. In what Locations are boats kept?

In [10]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT DISTINCT(Location) 
FROM BOATS 
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

    Location
0   Hout Bay
1  Fish Hoek

7. Get the names of all Boats tht have a fee value recorded in the database

In [3]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT DISTINCT(Bname)
FROM BOATS 
JOIN RESERVES ON RESERVES.BID = BOATS.BID   
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

      Bname
0  Wayfarer
1  SeaPride
2    Yuppie
3       Joy

8. Get ID of all boats that have not been reserved

In [4]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT DISTINCT(Bname)
FROM BOATS  
WHERE BID NOT IN (SELECT DISTINCT(BID) FROM RESERVES)

'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

Empty DataFrame
Columns: [Bname]
Index: []

9. Get all reservation info, including all details on the boats being reserved.

In [7]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT *
FROM RESERVES 
JOIN BOATS ON BOATS.BID = RESERVES.BID
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

  SID  BID         Day  Deposit     Bname  BID  Fee   Location
0  23  109  01/08/2014    120.0  Wayfarer  109  120   Hout Bay
1  23  108  08/08/2014      0.0  SeaPride  108  500  Fish Hoek
2  25  101  08/08/2014      0.0    Yuppie  101  400   Hout Bay
3  27  101  09/08/2014    100.0    Yuppie  101  400   Hout Bay
4  27  109  04/09/2014      0.0  Wayfarer  109  120   Hout Bay
5  33  109  04/09/2014      0.0  Wayfarer  109  120   Hout Bay
6  33  104  11/09/2014      0.0       Joy  104  200   Hout Bay

10. For all reservation, get the name of the sailor, along with the day and name of the boat booked.

In [3]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT RESERVES.SID, RESERVES.BID, RESERVES.Day, RESERVES.Deposit, BOATS.Bname, SAILORS.Sname
FROM RESERVES 
JOIN BOATS ON RESERVES.BID = BOATS.BID 
JOIN SAILORS ON RESERVES.SID = SAILORS.SID 
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

  SID  BID         Day  Deposit     Bname   Sname
0  23  109  01/08/2014    120.0  Wayfarer    Marx
1  23  108  08/08/2014      0.0  SeaPride    Marx
2  25  101  08/08/2014      0.0    Yuppie  Martin
3  27  101  09/08/2014    100.0    Yuppie   Adams
4  27  109  04/09/2014      0.0  Wayfarer   Adams
5  33  109  04/09/2014      0.0  Wayfarer  Carrey
6  33  104  11/09/2014      0.0       Joy  Carrey

11. Get the average deposit paid for each boat.

In [11]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT BOATS.Bname,RESERVES.BID , AVG(Deposit) AS Average_Deposit
FROM RESERVES 
JOIN BOATS ON RESERVES.BID = BOATS.BID
GROUP BY RESERVES.BID 


'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

      Bname  BID  Average_Deposit
0    Yuppie  101             50.0
1       Joy  104              0.0
2  SeaPride  108              0.0
3  Wayfarer  109             40.0

12. Get the average deposit paid for each boat that has been booked by more than one person

In [19]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT BID, AVG(Deposit) AS Average_Deposit
FROM RESERVES 
GROUP BY BID 
HAVING COUNT(DISTINCT SID)>1  

'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

   BID  Average_Deposit
0  101             50.0
1  109             40.0

13. Get the average firm deposit paid for each boat that has been booked by more than one person, in increasing order of amount. A firm deposit is one witch exceeds R10.

In [23]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT BID, AVG(Deposit) AS Average_Deposit
FROM RESERVES 
WHERE Deposit > 10

HAVING COUNT(DISTINCT(SID)) > 1 
ORDER BY Average_Deposit
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

   BID  Average_Deposit
0  109            110.0

18. Get name & rating of sailors with rating exceeding 7 who made any reservation with 0 deposit.

In [36]:

conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT DISTINCT(SNAME), Rating
FROM SAILORS 
WHERE Rating >7 AND SID IN 
                (SELECT SID
                FROM RESERVES
                WHERE Deposit =0 )


'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

    Sname  Rating
0  Martin       9
1  Carrey      10

Get the names of boats located in a place other than Hout Bay or Fish Hoek

In [43]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT Bname, Location
FROM BOATS 
WHERE Location NOT IN ("Fish Hoek", "Hout Bay") 

'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

Empty DataFrame
Columns: [Bname, Location]
Index: []

16. Get names of boats having a fee larger than any boat located in Hout Bay

In [56]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT DISTINCT(Bname)
FROM BOATS 
WHERE Fee > (SELECT MAX(Fee) FROM BOATS WHERE LOCATION  ="Hout Bay")
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

      Bname
0  SeaPride

17. Get names that are in both the sailors and the captains relation

In [60]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
Select Sailors.Sname 
FROM Sailors
JOIN CAPTAINS ON SAILORS.SID = CAPTAINS.SID 
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

Empty DataFrame
Columns: [Sname]
Index: []

18. Get the names of boats that have exacly 1 reservation

In [67]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT DISTINCT(Bname)
FROM BOATS
WHERE BID IN(SELECT BID FROM RESERVES GROUP BY BID HAVING COUNT(BID) = 1  )
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

      Bname
0       Joy
1  SeaPride

19. Get the sailor ID and total deposit paid for sailors who have booked more than 1 boat

In [75]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT SAILORS.SID, SUM(RESERVES.deposit) AS Total_Deposit
FROM SAILORS
JOIN RESERVES ON SAILORS.SID = RESERVES.SID
GROUP BY SAILORS.SID 
HAVING COUNT(RESERVES.SID)>1
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

  SID  Total_Deposit
0  23          240.0
1  27          220.0
2  33            0.0

20. Get all reservation info including details of the boats booked

In [78]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT *
FROM RESERVES
JOIN BOATS ON RESERVES.BID = BOATS.BID
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

  SID  BID         Day  Deposit     Bname  BID  Fee   Location
0  23  109  01/08/2014    120.0  Wayfarer  109  120   Hout Bay
1  23  108  08/08/2014    120.0  SeaPride  108  500  Fish Hoek
2  25  101  08/08/2014      0.0    Yuppie  101  400   Hout Bay
3  27  101  09/08/2014    100.0    Yuppie  101  400   Hout Bay
4  27  109  04/09/2014    120.0  Wayfarer  109  120   Hout Bay
5  33  109  04/09/2014      0.0  Wayfarer  109  120   Hout Bay
6  33  104  11/09/2014      0.0       Joy  104  200   Hout Bay

In [ ]:
21. Get all information of every boat. If a boat has reservation, including all its reservations info.

In [79]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''
SELECT *
FROM  BOATS
JOIN RESERVES ON RESERVES.BID = BOATS.BID 
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

      Bname  BID  Fee   Location SID  BID         Day  Deposit
0  Wayfarer  109  120   Hout Bay  23  109  01/08/2014    120.0
1  SeaPride  108  500  Fish Hoek  23  108  08/08/2014    120.0
2    Yuppie  101  400   Hout Bay  25  101  08/08/2014      0.0
3    Yuppie  101  400   Hout Bay  27  101  09/08/2014    100.0
4  Wayfarer  109  120   Hout Bay  27  109  04/09/2014    120.0
5  Wayfarer  109  120   Hout Bay  33  109  04/09/2014      0.0
6       Joy  104  200   Hout Bay  33  104  11/09/2014      0.0

22. Create a new tuple fot the boat named "Nino" which has fee R150, BID 110 and is in Fish Hoek.

In [2]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

# SQL INSERT query
query = '''
insert into BOATS
    values('Nino', 110, 150, 'Fish Hoek')
'''

# Execute the INSERT query
cursor.execute(query)
conn.commit()

# Optionally, you can fetch data to confirm the insertion
select_query = 'SELECT * FROM BOATS'
result_df = pd.read_sql_query(select_query, conn)

# Close the connection
conn.close()

# Print the result DataFrame
print(result_df.to_string(index=True))

      Bname  BID  Fee   Location
0  Wayfarer  109  120   Hout Bay
1  SeaPride  108  500  Fish Hoek
2    Yuppie  101  400   Hout Bay
3       Joy  104  200   Hout Bay
4      Nino  110  150  Fish Hoek

23. Remove all bookings from Reserves where there is no deposit

In [8]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

# SQL INSERT query
query = '''
 DELETE FROM RESERVES
 WHERE Deposit IS NULL OR DEPOSIT =0
   
'''

# Execute the INSERT query
cursor.execute(query)
conn.commit()

# Optionally, you can fetch data to confirm the insertion
select_query = 'SELECT * FROM RESERVES'
result_df = pd.read_sql_query(select_query, conn)

# Close the connection
conn.close()

# Print the result DataFrame
print(result_df.to_string(index=True))

  SID  BID         Day  Deposit
0  23  109  01/08/2014    120.0
1  23  108  08/08/2014    120.0
2  27  101  09/08/2014    100.0
3  27  109  04/09/2014    120.0

24. Increase the fee of every boat by 12%.

In [11]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

# SQL INSERT query
query = '''
UPDATE BOATS 
SET Fee = Fee *1.12   
'''

# Execute the INSERT query
cursor.execute(query)
conn.commit()

# Optionally, you can fetch data to confirm the insertion
select_query = 'SELECT * FROM BOATS'
result_df = pd.read_sql_query(select_query, conn)

# Close the connection
conn.close()

# Print the result DataFrame
print(result_df.to_string(index=True))

OperationalError: database is locked

In [ ]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''

'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

In [ ]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''

'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

In [ ]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''

'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

In [ ]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''

'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

In [ ]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''

'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

In [ ]:
conn = sqlite3.connect('sailing_club.db')
cursor = conn.cursor()

query = '''

'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))