In [6]:
import sqlite3
import pandas as pd

In [3]:
# Connect to the database (it will create the database if it doesn't exist)
conn = sqlite3.connect('RateMyProfDB.db')
cursor = conn.cursor()

# Create the Professor table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Professor (
    PID INTEGER PRIMARY KEY AUTOINCREMENT,
    Pname TEXT NOT NULL,
    Papers INTEGER,
    Topic TEXT
)
''')

# Create the Student table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Student (
    SID INTEGER PRIMARY KEY,
    Sname TEXT NOT NULL,
    Uni TEXT NOT NULL,
    GPA REAL
)
''')

# Create the Rating table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Rating (
    SID INTEGER,
    PID INTEGER,
    Score INTEGER NOT NULL CHECK (Score BETWEEN 0 AND 10),
    Attended INTEGER NOT NULL,
    PRIMARY KEY (SID, PID),
    FOREIGN KEY (SID) REFERENCES Student(SID) ON DELETE CASCADE,
    FOREIGN KEY (PID) REFERENCES Professor(PID) ON DELETE CASCADE
)
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

In [7]:


# Connect to the database (it will create the database if it doesn't exist)
conn = sqlite3.connect('RateMyProfDB.db')
cursor = conn.cursor()

# Insert values into the Professor table
professors = [
    (109, 'Steven', 10, 'Java'),
    (110, 'Francis', 50, 'Databases'),
    (111, 'Daniel', 40, 'Java'),
    (112, 'Joy', 20, 'Java')
]
cursor.executemany('INSERT INTO Professor (PID, Pname, Papers, Topic) VALUES (?, ?, ?, ?)', professors)

# Insert values into the Student table
students = [
    (23, 'Michelle', 'Illinois Tech', 3.05),
    (25, 'Tomas', 'UChi', 2.71),
    (27, 'Biden', 'Illinois Tech', 3.66),
    (33, 'John', 'UIC', 4.80)
]
cursor.executemany('INSERT INTO Student (SID, Sname, Uni, GPA) VALUES (?, ?, ?, ?)', students)

# Insert values into the Rating table
ratings = [
    (23, 109, 6, 60),
    (23, 110, 10, 70),
    (23, 111, 8, 40),
    (27, 111, 9, 100),
    (27, 109, 4, 20),
    (33, 109, 5, 80),
    (33, 112, 1, 4)
]
cursor.executemany('INSERT INTO Rating (SID, PID, Score, Attended) VALUES (?, ?, ?, ?)', ratings)

# Commit the changes and close the connection
conn.commit()
conn.close()

1. Find the names of students with a GPA of at most 3.5 who are studying at Illionis Tech, along with the score and names of the professors these students rated.

In [8]:
conn = sqlite3.connect('RateMyProfDB.db')
cursor = conn.cursor()

query = '''
SELECT Sname, Score, Pname
FROM Rating
JOIN Student ON Student.SID = Rating.SID
JOIN Professor ON Professor.PID = Rating.PID 
WHERE Student.GPA <3.51 AND Student.Uni = 'Illinois Tech'
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

      Sname  Score    Pname
0  Michelle      6   Steven
1  Michelle     10  Francis
2  Michelle      8   Daniel

2. Get names of studens having GPA less than or equal to any student attending Illinois Tech

In [11]:
conn = sqlite3.connect('RateMyProfDB.db')
cursor = conn.cursor()

query = '''
SELECT Sname
FROM Student
WHERE Uni != 'Illinois Tech' 
AND GPA <= (SELECT MAX(Student.GPA) FROM Student WHERE Uni = 'Illinois Tech')
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

   Sname
0  Tomas

3. Find all PIDs that have not been rated

In [12]:
conn = sqlite3.connect('RateMyProfDB.db')
cursor = conn.cursor()

query = '''
SELECT PID
FROM Professor
WHERE PID NOT IN (SELECT DISTINCT(PID) FROM Rating) 
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

Empty DataFrame
Columns: [PID]
Index: []

4. Write a relational algebra statement to get the Professor name and average score given to each professor, ordered from the highest to the lowest score.

In [17]:
conn = sqlite3.connect('RateMyProfDB.db')
cursor = conn.cursor()

query = '''
SELECT Pname, AVG(Score) 
FROM Rating
JOIN Professor ON Professor.PID = Rating.PID
GROUP BY rating.PID
ORDER BY Score
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

     Pname  AVG(Score)
0      Joy         1.0
1   Steven         5.0
2   Daniel         8.5
3  Francis        10.0

5. Write the SQL that would create the 'Rating' table shown in the graphic on page 1

In [ ]:
conn = sqlite3.connect('RateMyProfDB.db')
cursor = conn.cursor()

query = '''

CREATE TABLE IF NOT EXISTS Rating (
    SID INTEGER,
    PID INTEGER,
    Score INTEGER NOT NULL CHECK (Score BETWEEN 0 AND 10),
    Attended INTEGER NOT NULL,
    PRIMARY KEY (SID, PID),
    FOREIGN KEY (SID) REFERENCES Student(SID) ON DELETE CASCADE,
    FOREIGN KEY (PID) REFERENCES Professor(PID) ON DELETE CASCADE
)

'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

6. Get names of students having a GPA less than or equal to a student attending Illinois Tech.

In [ ]:
conn = sqlite3.connect('RateMyProfDB.db')
cursor = conn.cursor()

query = '''
SELECT Sname
FROM Student
WHERE Uni != 'Illinois Tech' 
AND GPA <= (SELECT MAX(Student.GPA) FROM Student WHERE Uni = 'Illinois Tech')
'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

7. Find names of professors that have been rated only once and give the names in descending order.

In [ ]:
conn = sqlite3.connect('RateMyProfDB.db')
cursor = conn.cursor()

query = '''

'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))

8. Delete professors who have number of Papers less than the average score of all professors.

In [ ]:
conn = sqlite3.connect('RateMyProfDB.db')
cursor = conn.cursor()

query = '''

'''
result_df = pd.read_sql_query(query, conn)


conn.close()

print(result_df.to_string(index=True))